<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-4">
        <h5>Gerencia Gestión Integral del Talento de TI</h5>
      </div>
      <div class="col-md-3 offset-md-5">
        <!-- <nav class="navbar navbar-expand-sm bg-light navbar-light">
          <ul class="nav nav-tabs small justify-content-end" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home">Personal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menu1">Equipo</a>
            </li>
          </ul>
        </nav>-->
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-7">
            <div class="card" >
              <div class="card-header" *ngIf="!showPilar1"> <!--*ngIf="showPilar1"-->
                Valoración Nivel de Madurez - Equipos Ágiles

              </div>
              <div class="card-header"  *ngIf="showPilar1 && !showPilar2"> <!--*ngIf="showPilar1 && showPilar2"-->
                  Valoración Nivel de Madurez - Pilar 1 - Comportamiento
              </div>
              <div class="card-header"  *ngIf="showPilar2 && !showPilar3">
                  Valoración Nivel de Madurez - Pilar 2 - Técnico
              </div>
              <div class="card-header"  *ngIf="showPilar3 && !showPilar4">
                  Valoración Nivel de Madurez - Pilar 3 - Procesos
              </div>
              <div class="card-header"  *ngIf="showPilar4 && !showFinalizar">
                  Valoración Nivel de Madurez - Pilar 4 - Ágilismo
              </div>
              <div class="card-header"  *ngIf="showFinalizar">
                  Resultado
              </div>
              <div class="card-body" *ngIf="!showPilar1"> <!--*ngIf="!showPilar1"-->
                <div class="container row">
                  <div class="col-md-6">
                    <br>
                    <li class="list-group-item"><b>Dirección:</b><br>
                      <select class="form-control input-xs" [(ngModel)]="selectiondireccion" name="selectiondirecciones"
                        (change)="selectiondirecciones()">
                        <option *ngFor="let direccion of direccion" [value]="direccion">{{direccion}}</option>
                      </select>
                    </li>
                  </div>
                  <div class="col-md-6">
                    <br>
                    <li class="list-group-item" *ngIf="selectiondireccion"><b>Componente Mayor:</b><br>
                      <select class="form-control input-xs" [(ngModel)]="selectioncompoMayor"
                        name="selectioncomponenteMayor" (change)="selectioncomponenteMayor()">
                        <option *ngFor="let compoMayor of compoMayor" [value]="compoMayor">{{compoMayor}}</option>
                      </select>
                    </li>
                  </div>
                </div>
                <div class="container row">
                  <div class="col-md-6">
                    <br>
                    <li class="list-group-item" *ngIf="selectioncompoMayor"><b>Componente Menor:</b><br>
                      <select class="form-control input-xs" [(ngModel)]="selectioncompoMenor"
                        name="selectioncomponenteMenor" (change)="selectioncomponenteMenor()">
                        <option *ngFor="let compoMenor of compoMenor" [value]="compoMenor">{{compoMenor}}</option>
                      </select>
                    </li>
                    <br>
                  </div>
                  <div class="col-md-6">
                    <br>
                    <li class="list-group-item" *ngIf="selectioncompoMenor"><b>Full Stack:</b><br>
                      <select class="form-control input-xs" [(ngModel)]="selectionfullstack" name="selecfullstack"
                        (change)="selecfullstack()">
                        <option *ngFor="let fullstack of fullstack" [value]="fullstack">{{fullstack}}</option>
                      </select>
                    </li>
                  </div>
                </div>
                <div class="container row">
                  <div class="col-md-6">
                    <li class="list-group-item" *ngIf="selectionfullstack"><b>Célula:</b><br>
                      <select class="form-control input-xs" [(ngModel)]="selectioncelulas" name="seleccelula"
                        (change)="seleccelula()">
                        <option *ngFor="let celula of celula" [value]="celula">{{celula}}</option>
                      </select>
                    </li>
                  </div>
                  <div class="col-md-6">
                    <li class="list-group-item text-center" *ngIf="selectioncelulas"><b>Tipo Valoración:</b><br>
                      <select class="form-control input-xs" [(ngModel)]="tipoValoracion" name="selectiontipoVal">
                        <option value="Autovaloracion">Autovaloración</option>
                        <option value="Valoracion">Valoración</option>
                      </select>
                    </li>
                  </div>
                </div>
            </div>
            <form  (ngSubmit)="Pilar1(Pilar1Comporta)" #Pilar1Comporta="ngForm"> 
            <form  (ngSubmit)="Pilar2(Pilar2Tecni)" #Pilar2Tecni="ngForm">
              <!--´PILAR COMPORTAMIENTO-->
            <div class="card-body" *ngIf="showPilar1 && !showPilar2"> <!--*ngIf="showPilar1 && showPilar2"-->
                    <div class="cc-selector">
                        <div class="row">
                            <div class="card-group">
                                <div class="card">
                                    <input id="comportamiento1" type="radio" name="comportamientonum" value="1" [(ngModel)]=Pilar1Comportamiento.comportamientonum/>
                                     <label class="label drinkcard-cc comportamiento1" for="comportamiento1"></label>
                                  <div class="card-body">
                                    <p class="card-text" style="font-size:80%;">• El trabajo en el equipo se realiza de forma individual minimizando las interacciones entre sus miembros.<br>
                                      • La personas se enfocan en ejecutar tareas sin conexión sin conexión con el logro de objetivos.<br>
                                      • Ante la incertidumbre el equipo con frecuencia se muestra ansioso y le cuesta adaptarse a esta condición.<br>
                                      • Se presenta un nivel alto de desconfianza entre los miembros del equipo.
                                        </p>
                                  </div>
                                </div>
                                <div class="card">
                                    <input  id="comportamiento2" type="radio" name="comportamientonum" value="3"  [(ngModel)]=Pilar1Comportamiento.comportamientonum/>
                                    <label class="label drinkcard-cc comportamiento2" for="comportamiento2"></label>
                                  <div class="card-body">
                                    <p class="card-text" style="font-size:80%;">• Frecuentemente el equipo es capaz de negociar y llegar a acuerdos de forma natural y fluida. 
                                        <br>
                                        • Existe un armonía en el trabajo en el equipo, en sus interacciones y cumplimiento de responsabilidades.
                                        </p>
                                    </div> 
                                </div>
                            </div>  
                        </div>  <br>
                        <div class="row">
                            <div class="card-group">
                                <div class="card">
                                    <input id="comportamiento3" type="radio" name="comportamientonum" value="4"  [(ngModel)]=Pilar1Comportamiento.comportamientonum/>
                                    <label class="label drinkcard-cc comportamiento3" for="comportamiento3"></label>
                                  <div class="card-body">
                                    <p class="card-text" style="font-size:80%;">• Frecuentemente los miembros del equipo ajustan su comportamiento el uno al del otro mientras que desarrollan acuerdos de hacer el trabajo de forma más natural y fluida. 
                                      <br>
                                        • Generalmente los miembros del equipo hacen esfuerzo consciente de resolver los problemas y de lograr armonía en el grupo. Los niveles de motivación han aumentado."
                                        </p>
                                  </div>
                                </div>
                                <div class="card">
                                    <input id="comportamiento4" type="radio" name="comportamientonum" value="5"  [(ngModel)]=Pilar1Comportamiento.comportamientonum/>
                                    <label class="label drinkcard-cc comportamiento4" for="comportamiento4"></label>
                                  <div class="card-body">
                                    <p class="card-text" style="font-size:80%;">• El equipo asume retos con coraje y entiende la conexión que tienen con los objetivos estratégicos. 
                                      <br>
                                        • Colaboran de manera cotidiana buscando lograr resultados como equipo y no como individuos.
                                        </p>
                                  </div>
                                </div>
                            </div>  
                        </div>
                      </div>
            </div>
            <!--´PILAR TECNICO-->
            <div class="card-body" *ngIf="showPilar2 && !showPilar3"> <!--!showPilar2 && !showPilar3"-->
                <div class="container row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">DevOps</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Arquitectura" role="tab" aria-controls="Arquitectura" aria-selected="false">Arquitectura</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Estandares" role="tab" aria-controls="Estandares" aria-selected="false">Estandares</a>
                        </li>
                         <li class="nav-item">
                          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Aplicaciones" role="tab" aria-controls="Aplicaciones" aria-selected="false">Aplicaciones</a>
                        </li>
                      </ul>
                </div>
                <div class="container row">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                          <br>
                            <div class="card">
                              <div class="card-body">
                                  <div class="custom-control custom-radio"> 
                                      <input id="tecnico1"  type="radio" class="custom-control-input" value="20" name="tecniconumeDevops" 
                                      [(ngModel)]=Pilar2Tecnico.tecniconumeDevops>
                                      <label class="custom-control-label" for="tecnico1"><p>{{devops1}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="tecnico2" type="radio" class="custom-control-input" value="40" name="tecniconumeDevops" 
                                      [(ngModel)]=Pilar2Tecnico.tecniconumeDevops>
                                      <label class="custom-control-label" for="tecnico2"><p>{{devops2}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="tecnico3" type="radio" class="custom-control-input" value="60" name="tecniconumeDevops" 
                                      [(ngModel)]=Pilar2Tecnico.tecniconumeDevops>
                                      <label class="custom-control-label" for="tecnico3"><p>{{devops3}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="tecnico4" type="radio" class="custom-control-input" value="80" name="tecniconumeDevops" 
                                      [(ngModel)]=Pilar2Tecnico.tecniconumeDevops>
                                      <label class="custom-control-label" for="tecnico4"><p>{{devops4}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="tecnico5" type="radio" class="custom-control-input" value="100" name="tecniconumeDevops" 
                                      [(ngModel)]=Pilar2Tecnico.tecniconumeDevops>
                                      <label class="custom-control-label" for="tecnico5"><p>{{devops5}}</p></label>
                                   </div>
                              </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Arquitectura" role="tabpanel" aria-labelledby="profile-tab">
                            <br>
                            <div class="card">
                              <div class="card-body">
                                  <div class="custom-control custom-radio">
                                      <input id="arquitectura1" type="radio" class="custom-control-input" value="20" name="arquitectnumeDevops" 
                                      [(ngModel)]=Pilar2Tecnico.arquitectnumeDevops>
                                      <label class="custom-control-label" for="arquitectura1"><p>{{arquitect1}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="arquitectura2" type="radio" class="custom-control-input" value="40" name="arquitectnumeDevops" 
                                      [(ngModel)]=Pilar2Tecnico.arquitectnumeDevops>
                                      <label class="custom-control-label" for="arquitectura2"><p>{{arquitect2}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="arquitectura3" type="radio" class="custom-control-input" value="60" name="arquitectnumeDevops" 
                                      [(ngModel)]=Pilar2Tecnico.arquitectnumeDevops>
                                      <label class="custom-control-label" for="arquitectura3"><p>{{arquitect3}} </p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="arquitectura4" type="radio" class="custom-control-input" value="80" name="arquitectnumeDevops" 
                                      [(ngModel)]=Pilar2Tecnico.arquitectnumeDevops>
                                      <label class="custom-control-label" for="arquitectura4"><p>{{arquitect4}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="arquitectura5" type="radio" class="custom-control-input" value="100" name="arquitectnumeDevops" 
                                      [(ngModel)]=Pilar2Tecnico.arquitectnumeDevops>
                                      <label class="custom-control-label" for="arquitectura5"><p>{{arquitect5}}</p></label>
                                   </div>
                              </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Estandares" role="tabpanel" aria-labelledby="contact-tab">
                            <br>
                            <div class="card">
                              <div class="card-body">
                                  <div class="custom-control custom-radio">
                                      <input id="estandares1" type="radio" class="custom-control-input" value="25" name="estandaresnume" 
                                      [(ngModel)]=Pilar2Tecnico.estandaresnume>
                                      <label class="custom-control-label" for="estandares1"><p>{{estandar1}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="estandares2" type="radio" class="custom-control-input" value="50" name="estandaresnume" 
                                      [(ngModel)]=Pilar2Tecnico.estandaresnume>
                                      <label class="custom-control-label" for="estandares2"><p>{{estandar2}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="estandares3" type="radio" class="custom-control-input" value="75" name="estandaresnume" 
                                      [(ngModel)]=Pilar2Tecnico.estandaresnume>
                                      <label class="custom-control-label" for="estandares3"><p>{{estandar3}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="estandares4" type="radio" class="custom-control-input" value="100" name="estandaresnume" 
                                      [(ngModel)]=Pilar2Tecnico.estandaresnume>
                                      <label class="custom-control-label" for="estandares4"><p>{{estandar4}}</p></label>
                                   </div>
                              </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Aplicaciones" role="tabpanel" aria-labelledby="contact-tab">
                            <br>
                            <div class="card">
                              <div class="card-body">
                                  <div class="custom-control custom-radio">
                                      <input id="aplicaciones1" type="radio" class="custom-control-input" value="20" name="aplicacionesnume" 
                                      [(ngModel)]=Pilar2Tecnico.aplicacionesnume>
                                      <label class="custom-control-label" for="aplicaciones1"><p>{{aplicaciones1}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="aplicaciones2" type="radio" class="custom-control-input" value="40" name="aplicacionesnume" 
                                      [(ngModel)]=Pilar2Tecnico.aplicacionesnume>
                                      <label class="custom-control-label" for="aplicaciones2"><p>{{aplicaciones2}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="aplicaciones3" type="radio" class="custom-control-input" value="60" name="aplicacionesnume" 
                                      [(ngModel)]=Pilar2Tecnico.aplicacionesnume>
                                      <label class="custom-control-label" for="aplicaciones3"><p>{{aplicaciones3}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="aplicaciones4" type="radio" class="custom-control-input" value="80" name="aplicacionesnume" 
                                      [(ngModel)]=Pilar2Tecnico.aplicacionesnume>
                                      <label class="custom-control-label" for="aplicaciones4"><p>{{aplicaciones4}}</p></label>
                                   </div>
                                   <div class="custom-control custom-radio">
                                      <input id="aplicaciones5" type="radio" class="custom-control-input" value="100" name="aplicacionesnume" 
                                      [(ngModel)]=Pilar2Tecnico.aplicacionesnume>
                                      <label class="custom-control-label" for="aplicaciones5"><p>{{aplicaciones5}}</p></label>
                                   </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--´PILAR PROCESOS-->
            <div class="card-body" *ngIf="showPilar3 && !showPilar4"><!--!showPilar2 && !showPilar3"-->
                <div class="container row">
                    <div class="container row">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Habilitar y Mantener Soluciones  </a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#usd_usm" role="tab" aria-controls="usd_usm" aria-selected="false">Gestión USD_USM</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#practicas" role="tab" aria-controls="practicas" aria-selected="false">Mejores Prácticas y Entregas</a>
                            </li>
                             <li class="nav-item">
                              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#negocio" role="tab" aria-controls="negocio" aria-selected="false">Orientación al Negocio</a>
                            </li>
                          </ul>
                    </div>
                    <div class="container row">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                              <br>
                                <div class="card">
                                  <div class="card-body">
                                      <div class="custom-control custom-radio">
                                          <input id="proceso1" type="radio" class="custom-control-input" value="25" name="proceso_hy_mnume" 
                                          [(ngModel)]=Pilar3Procesos.proceso_hy_mnume data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="My popover content.">
                                          <label class="custom-control-label" for="proceso1"><p>{{hymsoluciones1}}</p></label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                          <input id="proceso2" type="radio" class="custom-control-input" value="50" name="proceso_hy_mnume" 
                                          [(ngModel)]=Pilar3Procesos.proceso_hy_mnume>
                                          <label class="custom-control-label" for="proceso2"><p>{{hymsoluciones2}}</p></label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                          <input id="proceso3" type="radio" class="custom-control-input" value="75" name="proceso_hy_mnume" 
                                          [(ngModel)]=Pilar3Procesos.proceso_hy_mnume>
                                          <label class="custom-control-label" for="proceso3"><p>{{hymsoluciones3}}</p></label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                          <input id="proceso4" type="radio" class="custom-control-input" value="100" name="proceso_hy_mnume" 
                                          [(ngModel)]=Pilar3Procesos.proceso_hy_mnume>
                                          <label class="custom-control-label" for="proceso4"><p>{{hymsoluciones4}}</p></label>
                                       </div>
                                  </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="usd_usm" role="tabpanel" aria-labelledby="profile-tab">
                                <br>
                                <div class="card">
                                  <div class="card-body">
                                      <div class="custom-control custom-radio">
                                          <input id="usd_usm1" type="radio" class="custom-control-input" value="25" name="usd_usmnume" 
                                          [(ngModel)]=Pilar3Procesos.usd_usmnume>
                                          <label class="custom-control-label" for="usd_usm1"><p>{{usd_usm1}}</p></label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                          <input id="usd_usm2" type="radio" class="custom-control-input" value="50" name="usd_usmnume" 
                                          [(ngModel)]=Pilar3Procesos.usd_usmnume>
                                          <label class="custom-control-label" for="usd_usm2"><p>{{usd_usm2}}</p></label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                          <input id="usd_usm3" type="radio" class="custom-control-input" value="75" name="usd_usmnume" 
                                          [(ngModel)]=Pilar3Procesos.usd_usmnume>
                                          <label class="custom-control-label" for="usd_usm3"><p>{{usd_usm3}}</p></label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                          <input id="usd_usm4" type="radio" class="custom-control-input" value="100" name="usd_usmnume" 
                                          [(ngModel)]=Pilar3Procesos.usd_usmnume>
                                          <label class="custom-control-label" for="usd_usm4"><p>{{usd_usm4}}</p></label>
                                       </div>
                                  </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="practicas" role="tabpanel" aria-labelledby="contact-tab">
                                <br>
                                <div class="card">
                                  <div class="card-body">
                                      <div class="custom-control custom-radio">
                                          <input id="practicas1" type="radio" class="custom-control-input" value="25" name="practicasnume" 
                                          [(ngModel)]=Pilar3Procesos.practicasnume>
                                          <label class="custom-control-label" for="practicas1"><p>{{mejores_precticas1}}</p></label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                          <input id="practicas2" type="radio" class="custom-control-input" value="50" name="practicasnume" 
                                          [(ngModel)]=Pilar3Procesos.practicasnume>
                                          <label class="custom-control-label" for="practicas2"><p>{{mejores_precticas2}}</p></label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                          <input id="practicas3" type="radio" class="custom-control-input" value="75" name="practicasnume" 
                                          [(ngModel)]=Pilar3Procesos.practicasnume>
                                          <label class="custom-control-label" for="practicas3"><p>{{mejores_precticas3}}</p></label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                          <input id="practicas4" type="radio" class="custom-control-input" value="100" name="practicasnume" 
                                          [(ngModel)]=Pilar3Procesos.practicasnume>
                                          <label class="custom-control-label" for="practicas4"><p>{{mejores_precticas4}}</p></label>
                                       </div>
                                  </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="negocio" role="tabpanel" aria-labelledby="contact-tab">
                                <br>
                                <div class="card">
                                  <div class="card-body">
                                      <div class="custom-control custom-radio">
                                          <input id="negocio1" type="radio" class="custom-control-input" value="25" name="negocionume" 
                                          [(ngModel)]=Pilar3Procesos.negocionume>
                                          <label class="custom-control-label" for="negocio1"><p>{{orienta_negocio1}}</p></label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                          <input id="negocio2" type="radio" class="custom-control-input" value="50" name="negocionume" 
                                          [(ngModel)]=Pilar3Procesos.negocionume>
                                          <label class="custom-control-label" for="negocio2"><p>{{orienta_negocio2}}</p></label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                          <input id="negocio3" type="radio" class="custom-control-input" value="75" name="negocionume" 
                                          [(ngModel)]=Pilar3Procesos.negocionume>
                                          <label class="custom-control-label" for="negocio3"><p>{{orienta_negocio3}}</p></label>
                                       </div>
                                       <div class="custom-control custom-radio">
                                          <input id="negocio4" type="radio" class="custom-control-input" value="100" name="negocionume" 
                                          [(ngModel)]=Pilar3Procesos.negocionume>
                                          <label class="custom-control-label" for="negocio4"><p>{{orienta_negocio4}}</p></label>
                                       </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="showPilar4 && !showFinalizar">
                    <div class="cc-selectoragil">
                        <div class="row">
                            <div class="card-group">
                                <div class="card">
                                    <input id="agilismo1" type="radio" name="agilismonum" value="1" [(ngModel)]=Pilar4Agilismo.agilismonum/>
                                     <label class="label drinkagil-cc agilismo1" for="agilismo1"></label>
                                  <div class="card-body">
                                    <p class="card-text" style="font-size:80%;"><b>El equipo:</b><br>
                                      • Desconoce los conceptos básicos del marco de trabajo.<br></p>
                                  </div>
                                </div>
                                <div class="card">
                                    <input  id="agilismo2" type="radio" name="agilismonum" value="3"  [(ngModel)]=Pilar4Agilismo.agilismonum/>
                                    <label class="label drinkagil-cc agilismo2" for="agilismo2"></label>
                                  <div class="card-body">
                                    <p class="card-text" style="font-size:80%;"><b>El equipo:</b><br>
                                      • Ejecuta las ceremonias de forma adecuada y autónoma.<br>
                                      • Adquiere y cumplen los compromisos.<br>
                                      • Nivel de auto-organización medio. Aun requieren de instrucciones y acompañamiento para el logro de objetivos.</p>
                                    </div> 
                                </div>
                            </div>  
                        </div>  <br>
                        <div class="row">
                            <div class="card-group">
                                <div class="card">
                                    <input id="agilismo3" type="radio" name="agilismonum" value="4"  [(ngModel)]=Pilar4Agilismo.agilismonum/>
                                    <label class="label drinkagil-cc agilismo3" for="agilismo3"></label>
                                  <div class="card-body">
                                    <p class="card-text" style="font-size:80%;"><b>El equipo:</b><br>
                                      • Tiene claro el propósito de cada ceremonia.<br>
                                      • Están orientado a la generación de valor para la organización.<br>
                                      • El equipo es auto-organizado y orientado al logro.<br>
                                      • Fácil adaptación al cambio ( ingreso de nuevas historias, entre otros).</p>
                                  </div>
                                </div>
                                <div class="card">
                                    <input id="agilismo4" type="radio" name="agilismonum" value="5"  [(ngModel)]=Pilar4Agilismo.agilismonum/>
                                    <label class="label drinkagil-cc agilismo4" for="agilismo4"></label>
                                  <div class="card-body">
                                    <p class="card-text" style="font-size:80%;">• El nivel de madurez Ejecutor ya está adoptado totalmente por todos los integrantes del equipo.<br>
                                        • Equipo inspirador.<br>
                                        • El equipo es referente y lleva nuevas prácticas al entorno organizacional.<br>
                                        • Promotor de la agilidad con otros equipos.<br>
                                        • La auto-organización es natural al interior del equipo.<br>
                                        • El equipo impacta positivamente a todo el ecosistema con el que interactúan.</p>
                                  </div>
                                </div>
                            </div>  
                        </div>
                      </div>
            </div>
            <div class="card-body" *ngIf="showFinalizar">
                <div class="container row">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="resultadofinal()">
                  Ver Resultados
                </button>
                </div>
            </div>
                <div class="card-footer" *ngIf="tipoValoracion">  <!--  *ngIf="!tipoValoracion">-->
                  <div class="row">
                    <div class="col-md-10">
                      <button type="button" class="btn btn-info" >
                        Facilitador: <span class="badge badge-light">{{facilitador}}</span>
                      </button>&nbsp;&nbsp;
                      <!--   <button type="button" class="btn btn-info" *ngIf="tipoValoracion">
                              Líder de componente: <span class="badge badge-light">XXXXXXXXXXXXXXXXX</span>
                          </button>&nbsp;&nbsp;-->
                      <button type="button" class="btn btn-info">
                        Nivel de madurez anterior: <span class="badge badge-light">{{madurez}}</span>
                      </button>
                    </div>
                    <div class="col-md-2">
                      <div class="container text-right">
                          <button type="button" class="btn btn-primary" *ngIf="!showPilar1" (click)="Informacion()"> <!--*ngIf="!showPilar1"-->
                              Siguiente
                          </button>
                          <button type="button" class="btn btn-primary" *ngIf="showPilar1 && !showPilar2 && Pilar1Comportamiento.comportamientonum" (click)="Pilar1()"><!--*ngIf="showPilar1 && !showPilar2"-->
                            Siguiente                 
                          </button>
                          <button type="button" class="btn btn-primary" *ngIf="showPilar2 && !showPilar3 && Pilar2Tecnico.tecniconumeDevops && Pilar2Tecnico.arquitectnumeDevops && Pilar2Tecnico.estandaresnume && Pilar2Tecnico.aplicacionesnume" (click)="Pilar2()">
                              Siguiente
                          </button>
                          <button type="button" class="btn btn-primary" *ngIf="showPilar3 && !showPilar4 && Pilar3Procesos.proceso_hy_mnume && Pilar3Procesos.usd_usmnume && Pilar3Procesos.practicasnume && Pilar3Procesos.negocionume" (click)="Pilar3()">
                              Siguiente
                          </button>
                          <button type="button" class="btn btn-primary" *ngIf="showPilar4 && !showFinalizar" (click)="Pilar4()">
                              Siguiente
                          </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </form>
          </div>
</div>
  <div class="col-md-4" >
    <img src="/assets/Images/NivelesEquipos.JPG" width="350" height="350">
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resultados valoracion equipos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container row">
              <button type="button" class="btn btn-info">
                  Nivel de madurez: <span class="badge badge-light">{{resultadovaloracion}}</span>
                </button>
          </div>
          <div class="container row">
              <div class="col-md-6">
                  <div class="card bg-link">
                      <div class="card-header">
                          Pilar de Comportamiento: {{resultpilar1}}
                      </div>
                  <div class="card-body">
                      <div class="row">
                            <div class="card-body" *ngIf="resultpilar1==='Novato'">
                                  <img src="/assets/Images/novato.PNG" width="280" height="200">
                              </div>
                              <div class="card-body" *ngIf="resultpilar1==='Gestionador'">
                                  <img src="/assets/Images/gestionador.PNG" width="280" height="200">
                              </div>
                              <div class="card-body" *ngIf="resultpilar1==='Técnico'">
                                  <img src="/assets/Images/Técnico.PNG" width="280" height="200">
                              </div>
                              <div class="card-body" *ngIf="resultpilar1==='Ejecutor'">
                                  <img src="/assets/Images/Ejecutor.PNG" width="280" height="200">
                              </div>
                              <div class="card-body" *ngIf="resultpilar1==='Ágil'">
                                  <img src="/assets/Images/Ágil.PNG" width="280" height="200">
                              </div>
                      </div>
                  </div> 
                </div>
              </div>
              <div class="col-md-6">
                  <div class="card bg-link">
                      <div class="card-header">
                        Pilar Técnico: {{resultpilar2}}
                      </div>
                  <div class="card-body">
                      <div class="row">
                            <div class="card-body" *ngIf="resultpilar2==='Novato'">
                                  <img src="/assets/Images/novato.PNG" width="280" height="200">
                              </div>
                              <div class="card-body" *ngIf="resultpilar2==='Gestionador'">
                                  <img src="/assets/Images/gestionador.PNG" width="280" height="200">
                              </div>
                              <div class="card-body" *ngIf="resultpilar2==='Técnico'">
                                  <img src="/assets/Images/Técnico.PNG" width="280" height="200">
                              </div>
                              <div class="card-body" *ngIf="resultpilar2==='Ejecutor'">
                                  <img src="/assets/Images/Ejecutor.PNG" width="280" height="200">
                              </div>
                              <div class="card-body" *ngIf="resultpilar2==='Ágil'">
                                  <img src="/assets/Images/Ágil.PNG" width="280" height="200">
                              </div>
                      </div>
                  </div> 
                </div>
              </div>
        </div>
        <div class="container row">
            <div class="col-md-6">
                <div class="card bg-link">
                    <div class="card-header">
                      Pilar Negocio y Porceso: {{resultpilar3}}
                    </div>
                <div class="card-body">
                    <div class="row">
                          <div class="card-body" *ngIf="resultpilar3==='Novato'">
                                <img src="/assets/Images/novato.PNG" width="280" height="200">
                            </div>
                            <div class="card-body" *ngIf="resultpilar3==='Gestionador'">
                                <img src="/assets/Images/gestionador.PNG" width="280" height="200">
                            </div>
                            <div class="card-body" *ngIf="resultpilar3==='Técnico'">
                                <img src="/assets/Images/Técnico.PNG" width="280" height="200">
                            </div>
                            <div class="card-body" *ngIf="resultpilar3==='Ejecutor'">
                                <img src="/assets/Images/Ejecutor.PNG" width="280" height="200">
                            </div>
                            <div class="card-body" *ngIf="resultpilar3==='Ágil'">
                                <img src="/assets/Images/Ágil.PNG" width="280" height="200">
                            </div>
                    </div>
                </div> 
              </div>
            </div>
            <div class="col-md-6">
                    <div class="card bg-link">
                        <div class="card-header">
                          Pilar Ágilismo: {{resultpilar4}}
                        </div>
                    <div class="card-body">
                        <div class="row">
                              <div class="card-body" *ngIf="resultpilar4==='Novato'">
                                    <img src="/assets/Images/novato.PNG" width="280" height="200">
                                </div>
                                <div class="card-body" *ngIf="resultpilar4==='Gestionador'">
                                    <img src="/assets/Images/gestionador.PNG" width="280" height="200">
                                </div>
                                <div class="card-body" *ngIf="resultpilar4==='Técnico'">
                                    <img src="/assets/Images/Técnico.PNG" width="280" height="200">
                                </div>
                                <div class="card-body" *ngIf="resultpilar4==='Ejecutor'">
                                    <img src="/assets/Images/Ejecutor.PNG" width="280" height="200">
                                </div>
                                <div class="card-body" *ngIf="resultpilar4==='Ágil'">
                                    <img src="/assets/Images/Ágil.PNG" width="280" height="200">
                                </div>
                        </div>
                    </div> 
                  </div>
            </div>
      </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
     
    </div>
  </div>
